$primaryColor: #557A55;
$textWhite: #FFFFFF;
$fontFam: Arial;
@mixin flexCenter($justify: center){
  display: flex;
  justify-content: $justify;
}

@import "../node_modules/bootstrap/scss/bootstrap";

img{
  width: 100%;
  height: auto;
}

.container-fluid{
  padding: 0;
}

.logo{
  a{
    img{
      margin-left: 30%;
      width: 40%;
    }
  }
}

nav{
  ul{

  }
}

#buttonContainer{
  button{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    background-color: $primaryColor;
    color: $textWhite;
    font-family: $fontFam;
    font-weight: bold;
    height: 100px;
    border-radius: 15px;
  }
}

.card{
  border: none;
  .card-img{
    border-radius: 100%;
  }
}

#cards{
  @include flexCenter;
}

#kontaktContainer{
  @include flexCenter;
}



@media screen and(min-width: 768px){

  nav{
    ul{
      li{
        font-size: 25px;
      }
    }
  }

  #buttonContainer{
    button{
      margin-left: 0;
      width: 25%;
      margin-top: 30px;
      background-color: $primaryColor;
      color: $textWhite;
      font-family: $fontFam;
      font-weight: bold;
      height: 100px;
      border-radius: 20px;
    }
  }

}