$primaryColor: #557A55;
$textWhite: #FFFFFF;
$fontFam: Arial;


@import "../node_modules/bootstrap/scss/bootstrap";
@mixin flexCenter($justify: center){
  display: flex;
  justify-content: $justify;
}

hr{
  display: none;
}

img{
  width: 100%;
  height: auto;
}

.row{
  margin: 0;
}

#buttonWrapper{
  width: 100%;
}

.hidden{
  display: none;
}

.toggleFlex{
  display: flex;
}

.container-fluid{
  padding: 0;
}

#headerWrap{
  flex-direction: column;
}

.logo{
  a{
    img{
      margin-top: 5%;
      margin-left: 25%;
      width: 50%;
    }
  }
}

nav{
  margin-top: 7%;
  margin-bottom: 7%;
  a{
    &:hover{
      text-decoration: none;
      color: $textWhite;
    }
    text-decoration: none;
    color: $textWhite;
    background-color: #292929;
    height: 1.5rem;
    width: 5rem;
    padding-top: 0.2rem;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-family: $fontFam ;
    font-size: 12px;
  }
}

.overskrifter{
  color: $primaryColor;
}

#buttonContainer{
  button{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    background-color: $primaryColor;
    color: $textWhite;
    font-family: $fontFam;
    font-weight: bold;
    height: 100px;
    border-radius: 15px;
  }
  #toggleElement{
    width: 100%;
  }
  #toggle{
    background-color: #86c086;
  }
}

.card{
  border: none;
  .card-img{
    border-radius: 100%;
  }
}

#cards{
  margin-top: 50px;
  justify-content: center;
}

#kontaktContainer{
  margin-top: 10%;
  @include flexCenter;

  #kontaktIMG{
    width: 70%;
  }
}
#textHandler {
  @include flexCenter;
  #kontakt {
    font-size: 14px;
  }
}

#icons{
  @include flexCenter(space-evenly);
  font-size: 50px;
  a{
    color: black;
    text-decoration: none;
  }
}

.fa-comment{
  color: black;
  font-size: 20px;
}

#ansøgning{
  @include flexCenter;
  margin-top: 10%;
  h5 {
    color: white;
    padding: 7%;
    width: 75%;
    border-radius: 15px;
    background-color: darkslategray;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

#toggleElement{
}

#active{
  background-color: $primaryColor;
}

.tilbud{
  background-color: $primaryColor;
}

.footer{
  a {
    color: #ffffff;
    p {
      font-size: 0.65rem;
      padding-right: 0.5rem;
      border-right: solid white 0.1rem;
    }
  }
  &__some{
    margin-left: 50% !important;
    margin-right: 50% !important;
    a{
      color: $primaryColor;
    }
  }
  &__address {
    &__map {
      &--nf {
        p {
          border-right: none !important;
        }
      }
    }
  }
  &__contact{
    &__cookies{
      p{
        border-right: none !important;
      }
    }
  }
}

@media screen and(min-width: 768px) {

  #kontakt{
    min-height: 170px;
  }

  #cards {
    padding-right: 20%;
    padding-left: 20%;
  }


  nav {
    ul {
      li {
        font-size: 25px;
      }
    }
  }

  #buttonContainer {
    padding-left: 20%;
    padding-right: 20%;

    button {
      flex: 0 0 45%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-top: 30px;
      background-color: $primaryColor;
      color: $textWhite;
      font-family: $fontFam;
      font-weight: bold;
      height: 100px;
      border-radius: 20px;
    }
  }

  nav {
    margin-top: 7%;
    margin-bottom: 7%;

    a {
      &:hover {
        text-decoration: none;
        color: $textWhite;
      }

      text-decoration: none;
      color: $textWhite;
      background-color: #292929;
      height: 2.8rem;
      width: 9rem;
      padding-top: 0.5rem;
      text-align: center;
      border-radius: 5px;
      font-weight: bold;
      font-family: $fontFam;
      font-size: 20px;
    }
  }

  #mobileBreaker {
    display: none;
  }

  #kontaktWrapper {
    @include flexCenter(space-evenly);
  }

  #ansøgningWrapper {
    @include flexCenter(space-evenly);

    #ansøgning {
      width: 50%;
    }
  }
  .footer{
    a{
      p{
        font-size: 1.3rem;
      }
    }
    &__some{
      a{
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and(min-width: 1200px) {

  hr{
    margin: 0;
    display: block;
    background-color: #8b949b;
  }

  .headerimg{
    width: 90%;
    margin-left: 5%;
  }

  .logo{
    width: 60vw;
    a{
      img{
        margin-top: 5%;
        margin-left: 10%;
        width: 50%;
      }
    }
  }
  #headerWrap{
    flex-direction: row;
  }

  nav{
    width: 40vw;
    margin-top: 7%;
    margin-bottom: 7%;
    a{
      &:hover{
        text-decoration: none;
        color: $textWhite;
      }
      text-decoration: none;
      color: $textWhite;
      background-color: #292929;
      height: 3rem;
      width: 8.5rem;
      padding-top: 0.6rem;
      text-align: center;
      border-radius: 5px;
      font-weight: bold;
      font-family: $fontFam ;
      font-size: 20px;
    }
  }
  #headerText{
    font-size: 56px;
  }
  #textHandler{
    #kontakt{
      font-size: 18px;
    }
  }

  #kontaktIMG{
    width: 20%;
  }
  #ansøgningWrapper{
    @include flexCenter;

    #ansøgning{
      width: 50%;

      h5{
        font-size: 32px;
      }
    }
  }
  .footer {
    &__address {
      &__map {
        &--nf {
          p {
            border-right: solid white 0.1rem !important;
          }
        }
      }
    }
  }
}